h1{

    color: brown;
    background-color: green;
    text-align: center;
    font-size: 50px

}

.imgsetting{

    display: grid;
    place-items: center;

}

h2{

    font-size: 30px;
    color: red;
    background-color: green;
    text-align: center;
}